__pycache__/*
annotations
data
outputs*
cache*
onlyoutputs*
benchmark/baseline_ml/baseline.h5ad
benchmark/velocity_correlation/pancreas/*
benchmark/velocity_confidence/confidences.pkl
benchmark/scib_metrics/pancreas/benchmark.png
benchmark/scib_metrics/pancreas/adata_latents.h5ad
benchmark/velocity_confidence/confidences.png
forebrain_*
final_adata_paths.txt
benchmark/stochastic/__pycache__
benchmark/stochastic/forebrain/*
benchmark/stochastic/pancreas/*
benchmark/stochastic/gastrulation_erythroid/*
benchmark/stochastic/dentategyrus_lamanno_P5/*
benchmark/scvelo/__pycache__
benchmark/scvelo/forebrain/*
benchmark/scvelo/pancreas/*
benchmark/scvelo/gastrulation_erythroid/*
benchmark/scvelo/dentategyrus_lamanno_P5/*
benchmark/velovi/__pycache__
benchmark/velovi/forebrain/*
benchmark/velovi/pancreas/*
benchmark/velovi/gastrulation_erythroid/*
benchmark/velovi/dentategyrus_lamanno_P5/*
benchmark/velovi/forebrain_filtered/*
benchmark/velovi/pancreas_filtered/*
benchmark/velovi/gastrulation_erythroid_filtered/*
benchmark/velovi/dentategyrus_lamanno_P5_filtered/*
benchmark/ivelo/__pycache__
benchmark/ivelo/forebrain/*
benchmark/ivelo/pancreas/*
benchmark/ivelo/gastrulation_erythroid/*
benchmark/ivelo/gastrulation_erythroid_filtered/*
benchmark/ivelo/dentategyrus_lamanno_P5/*
benchmark/ivelo/forebrain_filtered/*
benchmark/ivelo/pancreas_filtered/*
benchmark/ivelo/dentategyrus_lamanno_P5_filtered/*
benchmark/celldancer/__pycache__
benchmark/celldancer/forebrain/*
benchmark/celldancer/pancreas/*
benchmark/celldancer/gastrulation_erythroid/*
benchmark/celldancer/dentategyrus_lamanno_P5/*
benchmark/velovi/dentategyrus_lamanno_P5_filtered/velovi_dentategyrus_lamanno_P5_filtered.h5ad
benchmark/velovi/gastrulation_erythroid_filtered/velovi_gastrulation_erythroid_filtered.h5ad
benchmark/velovi/pancreas_filtered/velovi_pancreas_filtered.h5ad
benchmark/celldancer/cellDancer_*
pancreas
forebrain
gastrulation_erythroid
dentategyrus_lamanno_P5
/benchmark/write_matrices.ipynb
benchmark/deepvelo/saved/*
benchmark/lsvelo/__pycache__/*
benchmark/velovi_filtered/__pycache__/*
benchmark_old/celldancer/__pycache__/*
benchmark_old/celldancer/cellDancer_velocity_*
benchmark_old/velovi/__pycache__/benchmark_preprocessing.cpython-312.pyc
benchmark_old/velovi/__pycache__/dataloaders.cpython-312.pyc
benchmark_old/velovi/__pycache__/velovi_adapted_metrics.cpython-312.pyc
benchmark_old/velovi/__pycache__/velovi_adapted_plots.cpython-312.pyc
benchmark_old/velovi/__pycache__/velovi_adapted_utils.cpython-312.pyc
benchmark_old/scib_metrics/__pycache__/functions.cpython-39.pyc
benchmark_old/scib_metrics/__pycache__/functions.cpython-311.pyc
benchmark_old/scib_metrics/__pycache__/scib_metrics.cpython-311.pyc
benchmark_old/scvelo/__pycache__/benchmark_preprocessing.cpython-311.pyc
benchmark_old/scvelo/__pycache__/scvelo_adapted_metrics.cpython-311.pyc
benchmark_old/scvelo/__pycache__/scvelo_adapted_plots.cpython-311.pyc
benchmark_old/scvelo/__pycache__/scvelo_adapted_utils.cpython-311.pyc
benchmark_old/expimap/__pycache__/benchmark_preprocessing.cpython-311.pyc
benchmark_old/scib_metrics/adata_latent_dentategyrus_lamanno_P5.h5ad
benchmark_old/scib_metrics/adata_latent_forebrain.h5ad
benchmark_old/scib_metrics/adata_latent_gastrulation_erythroid.h5ad
benchmark_old/scib_metrics/adata_latent_pancreas.h5ad
benchmark_old/stochastic/__pycache__/benchmark_preprocessing.cpython-311.pyc
benchmark_old/stochastic/__pycache__/scvelo_adapted_metrics.cpython-311.pyc
benchmark_old/stochastic/__pycache__/scvelo_adapted_plots.cpython-311.pyc
benchmark_old/stochastic/__pycache__/scvelo_adapted_utils.cpython-311.pyc
benchmark_old/velocity_coherence/absolute_coherences_cosine.pkl
benchmark_old/velocity_coherence/absolute_coherences_normalized.pkl
benchmark_old/velocity_coherence/absolute_coherences.pkl
benchmark_old/velocity_correlation/velocities.pkl
benchmark_old/velocity_correlation/gene_wise_correlations.pkl
benchmark_old/velocity_correlation/cell_wise_correlations.pkl
benchmark_old/velocity_coherence/__pycache__/velocity_coherence.cpython-311.pyc
benchmark_old/velocity_coherence/__pycache__/velocity_coherence_normalized.cpython-311.pyc
benchmark_old/velocity_coherence/__pycache__/velocity_coherence_cosine.cpython-311.pyc
benchmark_old/velocity_coherence/__pycache__/plot_functions.cpython-311.pyc
benchmark_old/baseline_ml/baseline.h5ad
figures/*
phase_plane_plots/*
plot_gps*
plot_sign*
velocity_umaps*
benchmark_old/scib_metrics/dentategyrus_lamanno_P5.png
benchmark_old/scib_metrics/forebrain.png
benchmark_old/scib_metrics/gastrulation_erythroid.png
benchmark_old/scib_metrics/pancreas.png
benchmark_old/velocity_confidence/confidences.png
benchmark_old/velocity_confidence/dentategyrus_lamanno_P5_confidences.png
benchmark_old/velocity_confidence/gastrulation_erythroid_confidences.png
benchmark_old/velocity_confidence/pancreas_confidences.png
.vscode
benchmark/deepvelo/__pycache__
benchmark/matrices/matrix_folder
benchmark/mse/plots
benchmark/scib_metrics/__pycache__
benchmark/scib_metrics/bio_conservation_plots*
benchmark/velocity_coherence/__pycache__
benchmark/velocity_confidence_uncertainty/plots/
benchmark/velocity_correlation/plots/
benchmark/velocity_correlation/gene_wise_correlations.pkl
benchmark/velocity_correlation/cell_wise_correlations.pkl

downstream/phase_plane_plots
benchmark/velocity_coherence/plots/
benchmark/velocity_coherence/plots_v3/
benchmark/velocity_coherence/plots_v4/
benchmark/velocity_confidence_uncertainty/plots_smaller/*
benchmark/velocity_correlation/plots_small/*
benchmark/velocity_length/plots/
benchmark/velocity_length/__pycache__/plot_functions.cpython-311.pyc
thesis/dataset_exploration/gastrulation_cells.png
thesis/dataset_exploration/progress_dataset.txt
thesis/dataset_exploration/__pycache__/plot.cpython-311.pyc
