__pycache__/*
annotations
data
outputs*
cache*
onlyoutputs*
benchmark/baseline_ml/baseline.h5ad
benchmark/velocity_correlation/pancreas/*
benchmark/velocity_confidence/confidences.pkl
benchmark/scib_metrics/pancreas/benchmark.png
benchmark/scib_metrics/pancreas/adata_latents.h5ad
benchmark/velocity_confidence/confidences.png
forebrain_*
final_adata_paths.txt
benchmark/stochastic/__pycache__
benchmark/stochastic/forebrain/*
benchmark/stochastic/pancreas/*
benchmark/stochastic/gastrulation_erythroid/*
benchmark/stochastic/dentategyrus_lamanno_P5/*
benchmark/scvelo/__pycache__
benchmark/scvelo/forebrain/*
benchmark/scvelo/pancreas/*
benchmark/scvelo/gastrulation_erythroid/*
benchmark/scvelo/dentategyrus_lamanno_P5/*
benchmark/velovi/__pycache__
benchmark/velovi/forebrain/*
benchmark/velovi/pancreas/*
benchmark/velovi/gastrulation_erythroid/*
benchmark/velovi/dentategyrus_lamanno_P5/*
benchmark/velovi/forebrain_filtered/*
benchmark/velovi/pancreas_filtered/*
benchmark/velovi/gastrulation_erythroid_filtered/*
benchmark/velovi/dentategyrus_lamanno_P5_filtered/*
benchmark/ivelo/__pycache__
benchmark/ivelo/forebrain/*
benchmark/ivelo/pancreas/*
benchmark/ivelo/gastrulation_erythroid/*
benchmark/ivelo/gastrulation_erythroid_filtered/*
benchmark/ivelo/dentategyrus_lamanno_P5/*
benchmark/ivelo/forebrain_filtered/*
benchmark/ivelo/pancreas_filtered/*
benchmark/ivelo/dentategyrus_lamanno_P5_filtered/*
benchmark/celldancer/__pycache__
benchmark/celldancer/forebrain/*
benchmark/celldancer/pancreas/*
benchmark/celldancer/gastrulation_erythroid/*
benchmark/celldancer/dentategyrus_lamanno_P5/*
benchmark/velovi/dentategyrus_lamanno_P5_filtered/velovi_dentategyrus_lamanno_P5_filtered.h5ad
benchmark/velovi/gastrulation_erythroid_filtered/velovi_gastrulation_erythroid_filtered.h5ad
benchmark/velovi/pancreas_filtered/velovi_pancreas_filtered.h5ad
benchmark/celldancer/cellDancer_*
pancreas
forebrain
gastrulation_erythroid
dentategyrus_lamanno_P5
/benchmark/write_matrices.ipynb